* {
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-wrap: anywhere;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 0;
    display: none;
}

body {
    font-weight: 550;
    font-size: 16px;
    color: black;
    margin: 0;
}

.main {
    max-width: 1280px;
    min-height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.247);
}

.img_nav {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}

.img_nav img {
    object-fit: cover;
    height: 56px;
    width: auto;
}

.sidebar {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: scroll;
    min-width: 260px;
    border-right: 1px solid rgb(0, 0, 0);
    padding: 8px 15px;
}

.ul_menu {
    margin: 20px 0;
    padding: 0;
}

.ul_menu li {
    list-style: none;
}

.item {
    background-color: rgb(230, 230, 230);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 22px;
    transition-duration: 0.4s;
}

.link_item {
    display: flex;
    align-items: center;
    gap: 12px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-decoration: none;
}

.icon21 {
    height: 30px;
    width: auto;

}

.item:hover {
    background-color: aqua;
}

.flx_nav {
    display: flex;
}

.nav_top {
    width: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.349);
    padding: 8px 12px;
    height: 100vh;
    overflow-y: scroll;
}

.top_flx {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.img_us_top {

    padding: 5px 10px 5px 5px;
}

.icon31 {
    padding: 6px 6px 0 6px;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

#close_bar {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 5px;
    background-color: rgb(253, 255, 235);
    width: 300px;
    height: 350px;
    overflow-y: scroll;
    z-index: 23;
    border: 1px solid black;

}

.dropdown-content a {
    padding: 12px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ececec;
}

.show {
    display: block;
}

@media screen and (max-width: 780px) {
    .sidebar {
        display: none;
        position: fixed;
        z-index: 2;
        background: linear-gradient(rgb(215, 255, 215), rgb(210, 210, 255));
    }

    .item {
        background-color: rgb(255, 255, 255);
    }

    #close_bar {
        display: block;
        cursor: pointer;
    }

    .dropdown-content {
        margin: 0;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
    }
}

.flx_cter_img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

.form_cter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 22px 6px 10px;
}

.form_cter input,
.btn_log {
    width: 100%;
    height: 36px;
    margin-top: 8px;
}

.form_cter label {
    padding: 0 0 0 8px;
}

.btn_log {
    background-color: green;
    color: white;
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
    margin-left: 11px;
}

#tk,
#mk {
    font-size: 15px;
    padding: 0px 4px;
}

#btn_gg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 14px;
}

.col1 {
    background-color: rgb(246, 247, 252);
    cursor: pointer;
    padding: 10px;
    border: 2px solid rgb(70, 63, 87);
    text-align: center;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.col1:hover {
    background-color: rgb(255, 255, 145);
    transform: translate(0px, -3px);
    box-shadow: 0px 10px 20px -15px rgb(0, 0, 0);
}

.gird_col {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin: 0 16px;
}

.flx_col {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 8px 0px;
}

.h3drop {
    padding-bottom: 6px;
    margin: 5px 15px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    white-space: nowrap;
    border-bottom: 1px solid black;
}

.center_div {
    margin: 0 auto;
    max-width: 360px;
}

.bang_loc {
    background: linear-gradient(45deg, rgb(210, 255, 250), rgb(255, 255, 205));
    display: flex;
    gap: 20px;
    padding: 8px 10px;
    align-items: center;
    justify-content: space-between;
}

.btn_loc {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    padding: 5px 10px;
}

.hthi_nv {
    padding: 6px;
    padding: 1px 16px 0 16px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid grey;
    transition-duration: 0.4s;
}

.hthi_nv:hover {
    background-color: rgb(170, 255, 255);
    cursor: pointer;
}

.bar_bt_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 18px 10px;
}

.ndnv2 {
    display: none;
}

.sl_nv1 {
    margin: 0 0 0 12px;
}

.ndnv1,
.ndnv3 {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 570px) {
    .ndnv1 {
        display: none;
    }

    .ndnv2 {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 12px;
    }

    .sl_nv1 {
        margin: 10px 0 0 0;
    }

    .rep_nv1,
    .rep_nv2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 5px;
    }
}

.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: rgb(250, 250, 250);
    width: 200px;
    z-index: 13;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}


.dropdown2:hover .dropdown-content2 {
    display: flex;
}

.dropdown-content2 a {
    text-decoration: none;
    color: green;
    padding: 18px 12px;
}

.dropdown-content2 a:hover {
    color: red;
}

.ptrang1 {
    text-align: center;
    cursor: pointer;
}

.chinhchu1 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
}

.nav_addnv {
    background: linear-gradient(45deg, rgb(210, 255, 250), rgb(255, 255, 205));
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow: scroll;
}

.nav_addnv a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 550;
    padding: 12px 30px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.col_addnv img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 30px 0 10px 0;
}

.col_addnv {
    cursor: pointer;
    background-color: rgb(253, 255, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
    border: 1px solid green;
    padding-bottom: 10px;
}

.col_addnv:hover {
    background-color: rgb(170, 255, 255);
}

.box_addnv {
    display: grid;
    gap: 30px 20px;
    padding: 0 30px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(auto, 520px);
}

.input1 {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgb(250, 250, 250);
}

.log_div {
    margin-top: 38px;
}

.code_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.tb_admin {
    padding: 20px 20px;
}